.invitation-section{
    background:#BF8A65;
    padding:0;
}

.invitation-wrapper{
    position:relative;
    width:100%;
    height:100vh;
}

.invitation-content-image{
    width:100%;
    height:100%;
    object-fit:fill;
}